a {
    cursor: pointer;
}

.spacer {
	margin-top: 20px;
}

.hSpacer {
    margin-left: 20px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #428BCA;
  color: #ffffff;
}

.clickable {
	cursor: pointer;
}

.colFrom {
    width: 20%;
}

.colTo {
    width: 15%;
}

.colSubject {
    width: 45%;
}

.colDate {
    width: 15%;
}

.highlightSearch {
    background-color: #FFD42A;
}

.labelFieldNewEmail {
    width: 70px;
}

.input-group {
    width: 100%;
}

.contentNewEmail {
    width: 100%;
}

input.ng-invalid {
    background-color: rgba(255, 0, 0, 0.5);
}
